{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-caption-xl govuk-!-margin-bottom-1 govuk-!-margin-top-6">
        Forgot password
      </h1>
      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">
     Create your password
      </h2>
      <div class="govuk-form-group">
        <label class="govuk-label" for="password"> Create password </label>
        <label class="govuk-caption-m govuk-!-margin-bottom-1" > Password constraints placeholder</label>
        <input
          class="govuk-input govuk-input--width-20"
          id="password"
          name="password"
          type="password"
          aria-required="true"
        />
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="password-1"> Confirm password </label>
        <input
          class="govuk-input govuk-input--width-20"
          id="password-1"
          name="password-1"
          type="password"
          aria-required="true"
        />
      </div>
        
      <button onClick="location.href='./success'" data-module="govuk-button" class="govuk-button" value="Submit" type="submit" role="button"
      aria-label="Submit">Submit</button>
    </div>
  </div>




{% endblock %}