{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-5">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Password reset successful
            </h1>
            <div class="govuk-panel__body">
                Please sign in to continue
            </div>
        </div>

        <div class="govuk-!-padding-top-4">
        <button onClick="location.href='./login'" data-module="govuk-button" class="govuk-button" value="sign-in" type="sign-in" role="button"
        aria-label="sign-in">Sign in</button>
        </div>
        
    </div>
</div>


{% endblock %}