{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "../one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        {% if (data['select-account'] === 'business-account') %}
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Create an account - Step 3 of 4</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Add a vehicle</h1>
        {% else %}
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart
            Charge)</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
        {% endif %}
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
        <h1 class="govuk-heading-m   govuk-!-margin-bottom-3">Confirm your payment</h1>
        <table class="govuk-table govuk-!-margin-bottom-1">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Quick payment</th>
                    <td class="govuk-table__cell"><b>
                            PayPal</b> </td>
                    <td class="govuk-table__cell"><a href="javascript:void(0)">Change</a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Registration numbers</th>
                    <td class="govuk-table__cell"><span class="govuk-caption-l">
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        5 Vehicles
                                    </span>
                                </summary>
                                <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">NA62ROP</p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">LO63NRO</p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">MN62NRO</p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">LO62NRO</p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">GJ71KRO</p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">LO6ANBG</p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">CK16NRH</p>
                            </details>
                        </span></td>
                    <td class="govuk-table__cell"><a href="javascript:void(0)">Change</a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email address</th>
                    <td class="govuk-table__cell"><span class="govuk-caption-m">johndoe@gmail.com</span></td>
                    <td class="govuk-table__cell"><a href="javascript:void(0)">Change</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div role="note" aria-label="Information" class="govuk-inset-text govuk-!-margin-top-4">
        <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-1">Payment amount
        </h1>
        <h1 class="govuk-heading-xl"> £ 15.00</h1>
    </div>
    <button class="govuk-button pay-now govuk-!-margin-right-2" data-module="govuk-button" role="button">
        Pay now
    </button>


</div>
{% endblock %}