{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "../one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        {% if (data['select-account'] === 'business-account') %}
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Create an account - Step 3 of 4</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Add a vehicle</h1>
        {% else %}
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart
            Charge)</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Make a one off payment</h1>
        {% endif %}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Upload vehicle details</h1>
        <div role="note" aria-label="Information" class="govuk-inset-text govuk-!-margin-top-2">

            <p class="govuk-body">You are making the charge for 5 of 5 vehicles</p>

        </div>
        <table class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <td scope="col" class="govuk-table__header">Registration number</td>
                    <td scope="col" class="govuk-table__header">Class</td>
                    <td class="govuk-table__header">Make</td>
                    <td class="govuk-table__header">Model</td>
                    <td class="govuk-table__header">Colour</td>
                    <td class="govuk-table__header">Change</td>
                    <td class="govuk-table__header">Remove
                    <td>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">NA62ROP</td>
                    <td class="govuk-table__cell">B</td>
                    <td class="govuk-table__cell">AUDI</td>
                    <td class="govuk-table__cell">X5</td>
                    <td class="govuk-table__cell">White</td>
                    <td class="govuk-table__cell">
                        <!-- <a href="/dashboard/edit-vehicle" class="govuk-link">Edit</a> -->
                        -
                    </td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">LO63NRO</td>
                    <td class="govuk-table__cell">A</td>
                    <td class="govuk-table__cell">BMW</td>
                    <td class="govuk-table__cell">550</td>
                    <td class="govuk-table__cell">White</td>
                    <td class="govuk-table__cell">
                         <!-- <a href="/dashboard/edit-vehicle" class="govuk-link">Edit</a> -->
                         -
                    </td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MN62NRO</td>
                    <td class="govuk-table__cell">B</td>
                    <td class="govuk-table__cell">BMW</td>
                    <td class="govuk-table__cell">350</td>
                    <td class="govuk-table__cell">Blue</td>
                    <td class="govuk-table__cell">
                         <a href="#" class="govuk-link">Change</a>
                    </td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">LO62NRO</td>
                    <td class="govuk-table__cell">B</td>
                    <td class="govuk-table__cell">BMW</td>
                    <td class="govuk-table__cell">X5</td>
                    <td class="govuk-table__cell">White</td>
                    <td class="govuk-table__cell">
                        <!-- <a href="/dashboard/edit-vehicle" class="govuk-link">Edit</a> -->
                        -
                    </td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">GJ71KRO</td>
                    <td class="govuk-table__cell">B</td>
                    <td class="govuk-table__cell">AUDI</td>
                    <td class="govuk-table__cell">450</td>
                    <td class="govuk-table__cell">Yellow</td>
                    <td class="govuk-table__cell">
                        <!-- <a href="/dashboard/edit-vehicle" class="govuk-link">Edit</a> -->
                        -
                    </td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                </tr>
            </tbody>
        </table>

        <div class="govuk-!-margin-top-6">
            {% if data['select-account'] === 'business-account' %}
            <button onClick="location.href='/create-account/step-3/step-3-done'" type="button" class="govuk-button"
                data-module="govuk-button" role="button" aria-label="confirm">Confirm</button>
            {% else %}
            <button type="button" class="govuk-button bulk-vehicle-confirm" data-module="govuk-button" role="button"
                aria-label="confirm">Confirm</button>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}