{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>  
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     
    <h1 class="govuk-caption-l govuk-!-margin-top-5 govuk-!-margin-bottom-1">Forgot password</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Check your email</h1>

    <p class="govuk-body govuk-!-margin-bottom-7">We have mailed the password reset link to <strong>j******@g****.com</strong> to reset your password.</p>
    <p class="govuk-body govuk-!-margin-bottom-5">Please check your inbox, spam, bulk or junk email folder – it may have been mistakenly<br/> blocked by your email system.</p>
    <p class="govuk-body govuk-!-margin-bottom-3">If you have not received the email please click <a href="#">resend</a></p>
    

<script>
setTimeout('Redirect()', 5000);
function Redirect() 
{  
    window.location="reset-password"; 
} 
</script>

    
  </div>
  
</div>


{% endblock %}