{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>  
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     
   



    <h1 class="govuk-caption-l govuk-!-margin-top-5 govuk-!-margin-bottom-1">Forgot password</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Check your post</h1>

    <p class="govuk-body govuk-!-margin-bottom-5">A letter will be posted to your registered address with a temporary password. The password will be active for 7 days. Please use the password to login to your account and change your password.</p>
    <p class="govuk-caption-m govuk-!-margin-bottom-5">If you do not receive the post in 5 days, please contact</p>
    
    <p class="govuk-caption-m govuk-!-margin-bottom-5"><strong>Dart Charge contact centre</strong><br/>
        Telephone: 0300 300 0120<br/>
        Textphone: 18001 0300 300 0120<br/>
        Every day, 8am to 8pm</p>

    <button
        class="govuk-button govuk-!-margin-top-3"
        data-module="govuk-button"
        role="button" onclick="location.href='/landing'"
      >
      Accept
    </button>

    







    



    
  </div>
  
</div>


{% endblock %}