// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "prototype-demo.scss";
@import "dashboard-landing.scss";

.welcomemenu {
    cursor: pointer;
    font-weight: bold;
    float: right;
    position: relative;
    padding-right: 15px;
    padding-bottom: 12px;
}

.welcomemenu::after {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
    --borderWidth: 2px;
    --height: 6px;
    --width: 6px;
    margin-left: 14px;
    margin-top: 4px;
    --borderColor: #ffffff;
    content: "";
    position: absolute;
    right: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -1;
    margin-top: 12px;
}

.dropdown-content a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}