$bg_circle: #bfe3e0;

.app-\!-dashboard-card-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  >.app-\!-dashboard-card-heading {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}

.app-\!-account-status-right {
  text-align: right;
}

.app-\!-tabular-flex-row {
  display: flex;
}

.app-\!-tabular-flex-col {
  flex: 1;
  // padding: 0.1rem;
  // font-size: 1rem;
}

.app-\!-account-container-right {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
}

.app-\!-bottom-line {
  border-bottom: 2px solid #000000;
  margin-bottom: 2rem;
}

.app-\!-table-list-container {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.app-\!-table-list-row {
  display: table-row;
}

.app-\!-table-header .app-\!-table-list-cell {
  display: table-cell;
  padding: 0.5rem 1rem 0.5rem 0;
  // color: #1d70b8;
  font-weight: bold;
  border-bottom: 1px solid #b1b4b6;
}

.app-\!-table-body .app-\!-table-list-cell {
  display: table-cell;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #b1b4b6;

  a {
    color: #1d70b8;
  }
}

.app-\!-first-col {
  width: 20px;
}

.app-\!-tbl-column {
  table-layout: fixed;
}

@media (min-width: 40.0625em) {
  .app-\!-dashboard-card-container {
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
  }

  .app-\!-divider {
    border-right: 1px solid #8f8f8f;
    padding-right: 40px;
  }

  .app-\!-account-container-right {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .app-\!-divider-right {
    padding-left: 30px;
  }
}


.app-\!-pull-left {
  float: left;
}

.app-\!-pull-right {
  float: right;
}


.app-\!-table-info-text {
  position: relative;
  padding-left: 38px;
}

.app-\!-table-info-text::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "!";
  font-weight: bold;
  display: block;
  width: 26px;
  height: 26px;
  background: #000;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  font-size: 20px;
}

.app-\!-table-sort-box-block li {
  width: 25%;
  float: left;
  list-style: none;
}

.app-\!-table-sort-box-block li .govuk-radios {
  background: #ebeced;
  margin-right: 10px;
  padding: 5px 0px 5px 10px;
  display: flex;
}

.app-\!-table-sort-box-block li .govuk-radios--small .govuk-radios__label:before {
  top: 10px;
  left: 6px;
  width: 18px;
  height: 18px;
}

.app-\!-table-sort-box-block li .govuk-radios--small .govuk-radios__label:after {
  top: 15px;
  left: 11px;
  border-width: 4px;
}

.app-\!-table-sort-box-block li .govuk-radios--small .govuk-radios__input:focus+.govuk-radios__label:before {
  border-width: 3px;
}

.app-\!-table-sort-box-block .govuk-radios--small .govuk-radios__label {
  padding-right: 0px;
}

@media (max-width: 600px) {
  .app-\!-table-sort-box-block li {
    width: 50%;
  }

  .app-\!-table-sort-box-block li .govuk-radios {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 0px 2px 5px;
  }
}

@media (min-width: 40.0625em) and (max-width: 56.0625em) {
  .app-\!-table-sort-box-block li {
    width: 50%;
  }

  .app-\!-table-sort-box-block li .govuk-radios {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 0px 2px 5px;
  }
}


.app-\!-table-header .app-\!-table-list-cell {
  padding: 0.5rem 1.1rem 0.5rem 0;
}

.app-\!-table-body .app-\!-table-list-cell {
  padding: 1rem 0.5rem 1rem 0;
}