$bg_circle: #bfe3e0;

.status-circle {

  /*
  &::before {
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    margin-right: 0.1rem;
    display: inline-block;
  }

  &.bg-active::before {
    background-color: $bg_circle;
  }

  &.bg-suspended::before {
    background-color: black;
  }

  &.bg-dormant::before {
    background-color: #ff4500;
  }
  */
  &.bg-active span {
    background-color: $bg_circle;
    padding: 2px 8px 2px 6px;
    text-transform: uppercase;
  }

  &.bg-suspended span {
    background-color: black;
    padding: 2px 8px 2px 6px;
    text-transform: uppercase;
  }

  &.bg-dormant span {
    background-color: #ff4500;
    padding: 2px 8px 2px 6px;
    text-transform: uppercase;
  }
}

.dashboard-card-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  >.dashboard-card-heading {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}

.account-status-right {
  text-align: right;
}

.dashed {
  overflow: hidden;
  position: relative;
  padding: 1px;
  margin: 1.2rem 0;

  &:before {
    content: "";
    position: absolute;
    border: 5px dashed grey;
    width: 100%;
  }
}

.view-link {
  font-size: 1rem;
  line-height: 1.3;
  color: #1d70b8;
  font-family: "GDS Transport", arial, sans-serif;
  margin-top: 5px;
}

.payment-container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tabular-flex-row {
  display: flex;
}

.tabular-flex-col {
  flex: 1;
  // padding: 0.1rem;
  // font-size: 1rem;
}

.account-container-right {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
}

.heading-margin-bottom {
  margin-bottom: 0;
}

.bottom-line {
  border-bottom: 2px solid #000000;
  margin-bottom: 2rem;
}

.govuk-table-list-container {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.govuk-table-list-row {
  display: table-row;
}


.table-header .govuk-table-list-cell {
  display: table-cell;
  padding: 0.5rem 1rem 0.5rem 0;
  color: #1d70b8;
  font-weight: bold;
  border-bottom: 1px solid #b1b4b6;
}

.table-body .govuk-table-list-cell {
  display: table-cell;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #b1b4b6;

  a {
    color: #1d70b8;
  }
}

.govuk-width-20 {
  width: 20px;
}

.border-top {
  border-top: 2px solid #1d70b8;
}

.govuk-tbl-column {
  table-layout: fixed;
}

@media (min-width: 40.0625em) {
  .dashboard-card-container {
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
  }

  .divider {
    border-right: 1px solid #8f8f8f;
    padding-right: 40px;
  }

  .account-container-right {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .divider-right {
    padding-left: 30px;
  }

  .cell-crossing {
    font-size: 1.1rem;
  }
}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


.table-info-text {
  position: relative;
  padding-left: 32px;
}

.table-info-text::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "i";
  display: block;
  width: 26px;
  height: 26px;
  background: #2f70b8;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  font-size: 20px;
}

.table-sort-box-block li {
  width: 25%;
  float: left;
  list-style: none;
}

.table-sort-box-block li .govuk-radios {
  background: #ebeced;
  margin-right: 10px;
  padding: 5px 0px 5px 10px;
  display: flex;
}

.table-sort-box-block li .govuk-radios--small .govuk-radios__label:before {
  top: 10px;
  left: 6px;
  width: 18px;
  height: 18px;
}

.table-sort-box-block li .govuk-radios--small .govuk-radios__label:after {
  top: 15px;
  left: 11px;
  border-width: 4px;
}

.table-sort-box-block li .govuk-radios--small .govuk-radios__input:focus+.govuk-radios__label:before {
  border-width: 3px;
}

.table-sort-box-block .govuk-radios--small .govuk-radios__label {
  padding-right: 0px;
}

@media (max-width: 600px) {
  .table-sort-box-block li {
    width: 50%;
  }

  .table-sort-box-block li .govuk-radios {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 0px 2px 5px;
  }
}

@media (min-width: 40.0625em) and (max-width: 56.0625em) {
  .table-sort-box-block li {
    width: 50%;
  }

  .table-sort-box-block li .govuk-radios {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 0px 2px 5px;
  }
}


.table-header .govuk-table-list-cell {
  padding: 0.5rem 1.1rem 0.5rem 0;
}

.table-body .govuk-table-list-cell {
  padding: 1rem 0.5rem 1rem 0;
}