{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart
            Charge)</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table" id="mytable">
                    <caption class="govuk-table__caption govuk-table__caption--m">Confirm vehicles details</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Registration No.</th>
                            <th scope="col" class="govuk-table__header">Country registration</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <input class="govuk-input govuk-input" id="vehicle-no" name="one-quarter"
                                        type="text">
                                </div>
                            </td>
                            <td class="govuk-table__cell">
                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name" name="changed-name"
                                            type="radio" value="UK" checked>
                                        <label
                                            class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
                                            for="changed-name">
                                            UK
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item govuk-!-margin-right-0">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name"
                                            type="radio" value="Non-UK">
                                        <label
                                            class="govuk-label govuk-radios__label govuk-!-padding-left-1 govuk-!-padding-right-0"
                                            for="changed-name-2">
                                            Non-UK
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td class="govuk-table__cell">
                                <a href="javascript:void(0)">Remove</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <input class="govuk-input govuk-input" id="vehicle-no" name="one-quarter"
                                        type="text">
                                </div>
                            </td>
                            <td class="govuk-table__cell">
                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name" name="changed-name"
                                            type="radio" value="UK" checked>
                                        <label
                                            class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
                                            for="changed-name">
                                            UK
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item govuk-!-margin-right-0">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name"
                                            type="radio" value="Non-UK">
                                        <label
                                            class="govuk-label govuk-radios__label govuk-!-padding-left-1 govuk-!-padding-right-0"
                                            for="changed-name-2">
                                            Non-UK
                                        </label>
                                    </div>
                                </div>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="javascript:void(0)">Remove</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <input class="govuk-input govuk-input" id="vehicle-no" name="one-quarter"
                                        type="text">
                                </div>
                            </td>
                            <td class="govuk-table__cell">
                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name" name="changed-name"
                                            type="radio" value="UK" checked>
                                        <label
                                            class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
                                            for="changed-name">
                                            UK
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item govuk-!-margin-right-0">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name"
                                            type="radio" value="Non-UK">
                                        <label
                                            class="govuk-label govuk-radios__label govuk-!-padding-left-1 govuk-!-padding-right-0"
                                            for="changed-name-2">
                                            Non-UK
                                        </label>
                                    </div>
                                </div>
                            </td>

                            <td class="govuk-table__cell">
                                <a onClick="removeRow()" href="javascript:void(0)">Remove</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                
                <button class="govuk-button  find-vehicle-multiple-flow govuk-!-margin-right-2" data-module="govuk-button" role="button">
                    Find your Vehicle
                </button>

                <button class="govuk-button govuk-button--secondary " data-module="govuk-button" role="button">
                    Add Vehicle
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}