{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing (Dart Charge)</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-heading-m">Confirm vehicles details</div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
                <table class="govuk-table " id="mytable">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Registration number</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <input class="govuk-input govuk-input govuk-input--width-20" id="vehicle-no" name="one-quarter"
                                        type="text">
                                </div>
                            </td>
                            
                            <!-- <td class="govuk-table__cell">
                                <a href="javascript:void(0)">Remove</a>
                            </td> -->
                        </tr>

                    </tbody>
                </table>

            </div>
            </div>
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <button class="govuk-button  find-vehicle-multiple-flow govuk-!-margin-right-2"
                data-module="govuk-button" role="button">
                Find your Vehicle
            </button>

            <button class="govuk-button govuk-button--secondary add-vehicle-multiple-flow "
                data-module="govuk-button" role="button">
                Add Vehicle
            </button>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}