{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart
            Charge)
        </h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Make a one off payment</h1>
    </div>
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Pay for crossings</h1>
        <ul class="govuk-list govuk-list--bullet">
            <li>You've made since 6am yesterday morning or</li>
            <li>For crossings you plan to make in the next 12 months.</li>
            <li>Payments are valid for 12 months from the date you make them.</li>
        </ul>
    </div>
</div>



<form method="post">
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
</form>


{% endblock %}