{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "./one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a> 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-6">
    <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing (Dart Charge)</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-inset-text govuk-!-margin-top-0">
          {{data['vrm-1']}} has 3 unpaid Dartford Crossing charges
          {% if (data['vrm-1'] === 'LO65 NRO') %}
          <ul class="govuk-list govuk-list--bullet">
                 <li class="govuk-boyd">Number of payable charges: <b>2</b></li>
                 <li class="govuk-boyd">Number of charges missed payment deadline: <b>1</b></li>
           </ul>
           {% endif %}
            
          <!-- DO42 NRT has 3 unpaid Dartford crossing charges,
          <br />
          AB4 195 has 3 unpaid Dartford crossing charges -->
        </div>

        {% if (data['vrm-1'] !== 'LO61 NRO') %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text govuk-!-font-weight-regular">
            <span class="govuk-warning-text__assistive">Warning</span>
            We suggest you clear the payable crossing first as it may miss the deadline.
            <br/>
            You can then resolve the charges which have already missed the deadline.
          </strong>
        </div>
        {% endif %}
      </div>
      <div class="govuk-grid-column-two-thirds">
        {% for i, vrm in data %}
          {% if data['vrm-' + loop.index] %}
            <h5 class="govuk-heading-m"> {{data['vrm-' + loop.index]}} </h5>
              <table class="govuk-table ">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Crossings</th>
                  <th scope="col" class="govuk-table__header">Number of trips</th>
                  <th scope="col" class="govuk-table__header">Amount</th>
                  </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Payable crossings</th>
                  <td class="govuk-table__cell">
                    <div class="govuk-form-group select-box govuk-!-margin-bottom-3">
                      <label class="govuk-label" for="payable-crossings">
                          <select class="govuk-select govuk-!-margin-right-2 multiple-payable-crossings future-crossing" id="sort" name="payable-crossings">
                              <option value="1"  >1</option>
                              <option value="2" selected >2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                          </select> 
                      </label>
                  </div>
                  </td>
                  <td class="govuk-table__cell crossing-amount">£5.00</td>
                </tr>
                
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Future crossings</th>
                  <td class="govuk-table__cell">
                    <div class="govuk-form-group select-box govuk-!-margin-bottom-3">
                      <label class="govuk-label" for="trips-future-crossing">
                          <select class="govuk-select govuk-!-margin-right-2 future-crossing" id="trips-future-crossing" name="trips-future-crossing" style="display: none">
                              <option value="1" selected >1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                          </select> 
                      </label>
                  </div>
                  </td>
                  <td class="govuk-table__cell crossing-amount">
                    <span class="amt" style="display: none">£2.50</span>
                    <a style="cursor: pointer;" class="add-future-crossing" class="govuk-link">Add</a>
                  </td>
                </tr>
              
              </tbody>
            </table>
          {% endif %}
      {% endfor %}

      <div class="govuk-form-group ">
        <label class="govuk-label govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24" for="amount">Payment amount</label>
           
        <div class="govuk-input__wrapper govuk-grid-column-two-third">
         <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
          <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-4 govuk-!-padding-left-3" id="amount" name="amount" value="22.50" type="number" aria-describedby="amount" spellcheck="false">
        </div>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-6">
        <button onClick="location.href='./pay-receipt-single'" class="govuk-button" data-module="govuk-button" role="button" aria-label="paytrips">Continue</button>
    </div>

 </div>

</div>
</div>

{% endblock %}