{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "./one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds error-summary" style="display: none; margin-bottom:-60px">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Enter a valid email address</a>
            </li>
          </ul>
        </div>
      </div>
      </div>

  <div class="govuk-grid-column-full govuk-!-margin-top-6">
    <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing (Dart Charge)</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
  </div>
</div>


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds ">

      {% if (data.vrm === 'LO61 NRO') or (data.vrm === 'LO63 NRO') or (data.vrm === 'LO65 NRO') %}
        <div class="govuk-inset-text govuk-!-margin-top-0 ">
         <p class="govuk-body">{{data.vrm}} has 3 unpaid Dartford crossing charges</p>
            {% if (data.vrm === 'LO65 NRO') %}
         <ul class="govuk-list govuk-list--bullet">
                <li class="govuk-boyd">Number of payable charges: <b>2</b></li>
                <li class="govuk-boyd">Number of charges missed payment deadline: <b>1</b></li>
          </ul>
          {% endif %}
        </div>
        
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            We suggest you clear the payable crossing first as it may miss the deadline.
            <br/>
            You can then resolve the charges which have already missed the deadline.
          </strong>
        </div>

      {% endif %}
      <h5 class="govuk-heading-m"> Registration number: {{data.vrm}}</h5>
      <h5 class="govuk-heading-m govuk-!-margin-bottom-8"> Available balance: £0.00</h5>
     
  
        <table class="govuk-table ">
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Crossings</th>
            <th scope="col" class="govuk-table__header">Number of trips</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% if (data.vrm === 'LO61 NRO') or (data.vrm === 'LO63 NRO') or (data.vrm === 'LO65 NRO') %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Payable crossings</th>
            <td class="govuk-table__cell">
              <div class="govuk-form-group select-box govuk-!-margin-bottom-3">
                <label class="govuk-label" for="trips">
                    <select class="govuk-select govuk-!-margin-right-2" id="sort" name="trips">
                        <option value="1"  >1</option>
                        <option value="2" selected >2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select> 
                </label>
            </div>
            </td>
            <td id="trip-amt" class="govuk-table__cell">£5.00</td>
          </tr>
          {% endif %}
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Future crossings</th>
            
              <td class="govuk-table__cell">
                <div id="future-crossing-selectbox" class="govuk-form-group select-box govuk-!-margin-bottom-3" style="display: none">
                  <label class="govuk-label" for="trips-future-crossing">
                      <select class="govuk-select govuk-!-margin-right-2" id="sort" name="trips-future-crossing">
                          <option value="1" selected >1</option>
                          <option value="2" >2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                      </select> 
                  </label>
              </div>
              </td>
              <td id="future-amt" class="govuk-table__cell">
                <span id="amt" style="display: none">£2.50</span>
                <a style="cursor: pointer;" id="add-future-crossing" class="govuk-link">Add</a>
              </td>
            
          </tr>
         
        </tbody>
      </table>
 
   

      <div class="govuk-form-group ">
        <label class="govuk-label govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24" for="amount">Payment amount</label>
           
        <div class="govuk-input__wrapper govuk-grid-column-two-third">
         <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
         {% if (data.vrm === 'LO62 NRO') or (data.vrm === 'LO64 NRO') %}
         <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-3 govuk-!-padding-left-3" id="amount" name="amount" value="2.50" type="number" aria-describedby="amount" spellcheck="false">
         {% else %} 
         <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-3 govuk-!-padding-left-3" id="amount" name="amount" value="7.50" type="number" aria-describedby="amount" spellcheck="false">
         {% endif %}
          
        </div>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-6">
        <button onClick="location.href='./pay-receipt-single'" class="govuk-button" data-module="govuk-button" role="button" aria-label="paytrips">Continue</button>
    </div>

 </div>

</div>
</div>

{% endblock %}