{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./one-off-payment-body-head.html" %}
  <a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a> 


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Make a one off payment</h1>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Pay for one or more crossings</h1>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full ">
        <div class="govuk-form-group ">
            <label class="govuk-label govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24" for="amount">
              Payment amount</label>
               
            <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
                <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-3" id="amount" name="amount" value="5.00" type="number" aria-describedby="amount" spellcheck="false" disabled>
            </div>
        </div>

        <div class="govuk-form-group">
            <div class="govuk-heading-m">
               Please select the preferred payment method.
            </div>
            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#past-day">
                    Quick payment
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#past-week">
                    Debit/Credit Card
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#past-month">
                    Bank transfer
                  </a>
                </li>
              </ul>
              <div class="govuk-tabs__panel" id="past-day">
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="paypal" name="option-payment" type="radio"
                      value="paypal" >
                  
                  <label class="govuk-label govuk-radios__label govuk-!-padding-top-0 label-img" for="paypal">
                    <img src="/public/images/paypal_icon.png"  alt="paypal" />
                      <span>Paypal</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="google-pay" name="option-payment" type="radio"
                        value="google-pay" >
                    <label class="govuk-label govuk-radios__label govuk-!-padding-top-0 label-img" for="google-pay">
                      <img src="/public/images/gpay_icon.png"  alt="Google pay" />
                        <span>Google pay</span>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="apple-pay" name="option-payment" type="radio"
                        value="apple-pay" >
                    <label class="govuk-label govuk-radios__label govuk-!-padding-top-0 label-img" for="apple-pay">
                      <img src="/public/images/apple_pay.png"  alt="Google pay" />
                        <span>Apple pay</span>
                    </label>
                </div>
                
            
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="card-payment" name="option-payment" type="radio"
                      value="card-payment" >
                  <label class="govuk-label govuk-radios__label govuk-!-padding-top-0 label-img" for="card-payment">
                    <img src="/public/images/card-img.png"  alt="Google pay" />
                    <span>Debit card</span> 
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="card-payment" name="option-payment" type="radio"
                      value="card-payment" >
                  <label class="govuk-label govuk-radios__label govuk-!-padding-top-0 label-img" for="card-payment">
                    <img src="/public/images/card-img.png"  alt="Google pay" />
                    <span>Credit card</span> 
                  </label>
                </div>
            
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
                
                <p class="govuk-heading-m govuk-!-font-weight-bold">Please select the preferred payment method.</p>
                <div class="govuk-form-group govuk-!-margin-bottom-5">
                  <label class="govuk-label govuk-!-font-weight-bold " for="card-number">Name on the account</label>
                  <span class="govuk-error-message card-number-error" style="display: none">
                      <span class="govuk-visually-hidden">Error:</span> Enter a card number
                  </span>
                  <input class="govuk-input govuk-input--width-20" id="card-number" name="card-number" type="text"
                      aria-required="true" aria-label="Enter the card number" />
                </div>
                

                <div class="govuk-form-group govuk-!-margin-bottom-5">
                  <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      Sort code
                  </div>
                  <div class="govuk-caption-m govuk-!-margin-bottom-2">
                      Must be 6 digits long
                  </div>
                  <div class="govuk-form-group">
                      <input class="govuk-input govuk-input--width-5" id="cvv" name="cvv" type="text"
                          aria-required="true" aria-label="Enter the card holder name"  />
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-5">
                  <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      Account number 
                  </div>
                  <div class="govuk-caption-m govuk-!-margin-bottom-2">
                      Must be between 6 and 8 digits long
                  </div>
                  <div class="govuk-form-group">
                      <input class="govuk-input govuk-input--width-20" id="acc-numbber" name="account-number" type="text"
                          aria-required="true" aria-label="Enter the card holder name"  />
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-5">
                  <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                    Building soceity roll number(if you have one)
                  </div>
                  <div class="govuk-caption-m govuk-!-margin-bottom-2">
                    You can find it on your card, statement or passbook
                  </div>
                  <div class="govuk-form-group">
                      <input class="govuk-input govuk-input--width-20" id="roll-number" name="roll-number" type="text"
                          aria-required="true" aria-label="Enter the card holder name"  />
                  </div>
                </div>
                  
              

                
              </div>
            </div>

                <button
                    class="govuk-button govuk-!-margin-top-6 paymentoptionBtn"
                    data-module="govuk-button"
                    role="button"
                    
                >
                Continue
                </button>
           
        </div>

        

    </div>
</div>

{% endblock %}