{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "./one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">


  <div class="govuk-grid-column-full govuk-!-margin-top-6">
    <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart
      Charge)</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {% if (vehicles.length == 1) %}
    <div class="govuk-inset-text govuk-!-margin-top-0 ">
      {{vehicles[0].vrm}} has 3 unpaid crossing,
      <ul>
        <li>2 are payable,</li>
        <li>1 missed payment deadline</li>
      </ul>
    </div>
    {% endif %}
    {% if (vehicles.length > 1) %}
    <div class="govuk-inset-text govuk-!-margin-top-0 ">

      <ul>
        {% for item in vehicles %}
        {% if (item.vrm == 'LO61 NRO') %}

        <li class=" govuk-!-margin-top-1 govuk-!-font-size-16">{{item.vrm}} has 3 unpaid crossings, 2 are payable, 1
          missed payment deadline</li>
        {% else %}

        <li class=" govuk-!-margin-top-1 govuk-!-font-size-16">{{item.vrm}} has 2 unpaid crossings, 2 are payable</li>
        {% endif %}

        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="govuk-warning-text ">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <p class="govuk-warning-text__text govuk-!-font-weight-regular govuk-!-font-weight-normal govuk-!-font-size-16">
        <span class="govuk-warning-text__assistive">Warning</span>
        <span class=""> We suggest you to clear the payable crossing first as it may cross the deadline,
          then we will take you to resolve the crossing which missed the deadline.</span>
      </p>
    </div>
    <div class="">
      {% for item in vehicles %}
      {% if (vehicles.length > 1) %}
      <label class="govuk-label govuk-body-l govuk-!-margin-top-5 govuk-!-font-weight-bold govuk-!-font-size-24"
        for="amount">{{item.vrm}}</label>
      {% else %}
      <label class="govuk-label govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24" for="amount">Available Balance: £ 0.0</label>

      {% endif %}
      <table class="govuk-table govuk-!-margin-top-5 govuk-!-margin-bottom-" role="table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            {% for head in paymentConfirmhead %}
            <th scope="col" class="govuk-table__header">
              {{ head }}
            </th>
            {% endfor %}
            <!-- <th scope="col" class="govuk-table__header" *ngFor="let head of chargeListHead">
              {{ head }}
            </th> -->
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for list in crossingList %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ list.cross }}</td>
            <td class="govuk-table__cell">
              {% if not list.amount %}
              {% else %}
              <div class="govuk-form-group select-box govuk-!-margin-bottom-1">
                <label class="govuk-label" for="trips">
                  <select class="govuk-select " id="sort" name="trips">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </label>
              </div>
              {% endif %}
            </td>

            {% if not list.amount %}
            <td class="govuk-table__cell"> <a href="#">Add</a></td>


            {% else %}
            <td class="govuk-table__cell">{{ list.amount }}</td>

            {% endif %}
          </tr>
          {% endfor %}

        </tbody>
      </table>
      {% endfor %}
    </div>

    <!-- <h5 class="govuk-heading-m"> Please select the number of crossings you would like to pay for.</h5>
        <div class="govuk-form-group select-box govuk-!-margin-bottom-3">
            <label class="govuk-label" for="trips">
                <select class="govuk-select govuk-!-margin-right-2" id="sort" name="trips">
                    <option value="1" {% if (data.vrm === 'LO62 NRO' ) or (data.vrm === 'LO64 NRO') %} selected {% endif %} >1</option>
                    <option value="2"  {% if (data.vrm === 'LO61 NRO') or (data.vrm === 'LO63 NRO') %} selected {% endif %}>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select> 
            </label>
        </div> -->

    <!-- <p class="govuk-body"> Each crossing is <span class="govuk-!-font-weight-bold">£2.50.</span>
        <br/> 
        Northbound and southbound journeys are counted as separate crossings.
        </p> -->
    <div class="">

      <div class="govuk-form-group ">
        <label class="govuk-label govuk-!-margin-top-5 govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24"
          for="amount">Payment
          amount</label>

        <div class="govuk-input__wrapper govuk-grid-column-two-third">
          <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
          {% if (data.vrm === 'LO62 NRO' ) or (data.vrm === 'LO64 NRO') %}
          <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-3 govuk-!-padding-left-3" id="amount"
            name="amount" value="2.50" type="number" aria-describedby="amount" spellcheck="false">
          {% else %}
          <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-3 govuk-!-padding-left-3" id="amount"
            name="amount" value="5.00" type="number" aria-describedby="amount" spellcheck="false">
          {% endif %}
        </div>
      </div>
    </div>



    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="resolve-crossing" name="resolve-crossing" type="checkbox"
          value="resolve-crossing" checked>
        <label class="govuk-label govuk-checkboxes__label" for="resolve-crossing">
          Resolve my crossings which crossed payment deadline
        </label>
      </div>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <button class="govuk-button proceed-to-pay-continue" data-module="govuk-button" role="button"
        aria-label="paytrips">continue</button>
    </div>

  </div>
</div>

{% endblock %}