{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../../../setup-acct-head-container.html" %}

<div class="govuk-grid-row" id="vehicle-column">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group app-!-pull-left">
      <label class="govuk-label govuk-!-font-weight-bold" for="registration_number">
        Enter your vehicle registration number
      </label>
      <input class="govuk-input govuk-input--width-10" id="registration_number" name="registration_number"
        type="text" />
    </div>

    <div class="govuk-form-group app-!-pull-left govuk-!-margin-left-7">
      <label class="govuk-label govuk-!-font-weight-bold">
        Country of registration</label>
      <div class="govuk-radios govuk-radios--inline app-!-pull-left">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="vrm-1" type="radio" value="UK" checked>
          <label class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
            for="changed-name"> UK</label>
        </div>
      </div>
      <div class="govuk-radios govuk-radios--inline app-!-pull-left">
        <div class="govuk-radios__item govuk-!-margin-right-0">
          <input class="govuk-radios__input" id="changed-name" name="vrm-1" type="radio" value="Non-UK">
          <label class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
            for="changed-name"> Non-UK</label>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-button-group">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button" role="button"
          aria-label="Find a vehicle" onclick="location.href='/lrds/vehcile-details'"  >Find
          your vehicle</button>
      </div>
    </div>

  </div>
</div>




{% include "../../../setup-acct-bottom-container.html" %}

{% endblock %}