{% extends "../dashboard-layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters divider">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Account</h1>
                <div class="dashboard-card-container">
                    <div class="dashboard-card-heading">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Payment method</p>
                    </div>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="govuk-grid-column-full">
              

            </div>
            
        </div>
       
        
    </div>
    {% include "../account-setting-info.html" %}



    



</div>


{% endblock %}