{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../setup-acct-head-container.html" %}
<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Account has been created successfully
  </h1>
</div>
<p>We have sent a confirmation email to <a href="#">johndoe@gmail.com</a></p>
</div>
<div class="govuk-grid-column-full govuk-!-margin-top-4">
  <button class="govuk-button todashboard" data-module="govuk-button" role="button" aria-label="Go to dashboard"
  >Go to dashboard</button>

</div>
</div>
</div>
</main>
{% endblock %}