<div class="govuk-grid-column-one-quarter app-!-divider-right">
    <ul class="govuk-list">
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            {% if section === 'profile' %}
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"><u>Update profile</u></span>
            {% else %}
            <a href="/dashboard/profile" class="govuk-link govuk-link--no-visited-state">Update profile</a>
            {% endif %}
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Change account plan</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            {% if section === 'notification' %}
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"><u>Notifications</u></span>
            {% else %}
            <a href="/dashboard/notification" class="govuk-link govuk-link--no-visited-state">Notifications</a>
            {% endif %}
            
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            {% if section === 'payment-method' %}
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"><u>Payment method</u></span>
            {% else %}
            <a href="account/payment-method" class="govuk-link govuk-link--no-visited-state">Payment method</a>
            {% endif %}
            
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Edit login credentials</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Close your account</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            {% if section === 'nominated-user' %}
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"><u>Nominated contact</u></span>
            {% else %}
            <a href="/dashboard/nominated-user/nominated-user" class="govuk-link govuk-link--no-visited-state">Nominated contact</a>
            {% endif %}
            
        </li>
    </ul>
    <br />
    <br />
  </div>