<div class="govuk-grid-column-one-quarter divider-right">
    <ul class="govuk-list">
            
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            {% if section === 'notification' %}
            <span class="govuk-body govuk-!-font-weight-bold">Activity</span>
            {% else %}
            <a href="/dashboard/notification" class="govuk-link govuk-link--no-visited-state">Activity</a>
            {% endif %}
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            {% if section === 'set-notification' %}
            <span class="govuk-body govuk-!-font-weight-bold">Set notifications</span>
            {% else %}
            <a href="/dashboard/set-notification" class="govuk-link govuk-link--no-visited-state">Set notifications</a>
            {% endif %}
            
        </li>
    </ul>
    <br />
    <br />
  </div>