{% extends "./dashboard-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters app-!-divider">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Notifications</h1>
                <div class="app-!-dashboard-card-container">
                  <div class="app-!-dashboard-card-heading">
                      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 app-!-pull-left">Activity</p>
                  </div>
                  <a href="#" class="govuk-link govuk-!-margin-bottom-2">Clear all notifications</a>
                </div> 
                <div class="app-!-bottom-line govuk-!-margin-bottom-3"></div>
                
                
            </div>
            
            <div class="govuk-grid-column-full govuk-!-margin-top-3">

              <div class="app-!-dashboard-card-container">
                <div class="app-!-dashboard-card-heading">
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-4 app-!-pull-left">High priority</p>
                </div>
              </div> 
              <p class="govuk-body govuk-!-margin-bottom-1">23 Oct 2021, 11.21AM</p>
              <p class="govuk-body govuk-!-font-weight-bold">Card **** **** 4567 will expire in 22 days.</p>
              <button class="govuk-button govuk-!-margin-bottom-0">Update card</button>
              
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <div class="app-!-dashboard-card-container govuk-!-margin-bottom-4">
                <div class="app-!-dashboard-card-heading">
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0 app-!-pull-left">New</p>
                </div>
                <a href="#" class="govuk-link govuk-!-margin-bottom-2 govuk-!-margin-right-5">Select all</a> <a href="#" class="govuk-link govuk-!-margin-bottom-2 govuk-!-margin-right-5">Delete selected</a> <a href="#" class="govuk-link govuk-!-margin-bottom-2">Mark all as read</a>
              </div> 

              <div class="govuk-checkboxes govuk-checkboxes--small govuk-grid-column-full govuk-!-padding-0" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="activity1" name="organisation" type="checkbox" value=" ">
                  <label class="govuk-label govuk-checkboxes__label" for="activity1">
                    <p class="govuk-body govuk-!-margin-bottom-1">23 Oct 2021, 11.21AM</p>
                    <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Payment for Dartford crossing made 21 Oct 2021 at 11.21AM</p>
                  </label>
                </div>
              </div>

              <div class="govuk-checkboxes govuk-checkboxes--small govuk-grid-column-full govuk-!-padding-0" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="activity2" name="organisation" type="checkbox" value=" ">
                  <label class="govuk-label govuk-checkboxes__label" for="activity2">
                    <p class="govuk-body govuk-!-margin-bottom-1">23 Oct 2021, 10.21AM</p>
                    <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Dartford crossing made today at 10.21AM</p>
                  </label>
                </div>
              </div>

              <div class="govuk-checkboxes govuk-checkboxes--small govuk-grid-column-full govuk-!-padding-0" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="activity3" name="organisation" type="checkbox" value=" ">
                  <label class="govuk-label govuk-checkboxes__label" for="activity3">
                    <p class="govuk-body govuk-!-margin-bottom-1">22 Oct 2021, 09.21AM</p>
                    <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Dartford crossing made today at 09.21AM</p>
                  </label>
                </div>
              </div>

              <div class="govuk-grid-column-full govuk-!-padding-0">  
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <div class="app-!-dashboard-card-container govuk-!-margin-bottom-4">
                  <div class="app-!-dashboard-card-heading">
                      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0 app-!-pull-left">Old</p>
                  </div>
                  <a href="#" class="govuk-link govuk-!-margin-bottom-2">Clear old Notification</a>
                </div> 

              </div>  


              <div class="govuk-checkboxes govuk-checkboxes--small govuk-grid-column-full govuk-!-padding-0" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="activity4" name="organisation" type="checkbox" value=" ">
                  <label class="govuk-label govuk-checkboxes__label" for="activity4">
                    <p class="govuk-body govuk-!-margin-bottom-1">1 Oct 2021, 11.21AM</p>
                    <p class="govuk-body govuk-!-margin-bottom-2">Payment for Dartford crossings made 18 Oct 2021  at 9.21AM</p>
                  </label>
                </div>
              </div>

              <div class="govuk-checkboxes govuk-checkboxes--small govuk-grid-column-full govuk-!-padding-0" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="activity5" name="organisation" type="checkbox" value=" ">
                  <label class="govuk-label govuk-checkboxes__label" for="activity5">
                    <p class="govuk-body govuk-!-margin-bottom-1">19 Oct 2021, 11.21AM</p>
                    <p class="govuk-body govuk-!-margin-bottom-2">Dartford crossings made on 19 Oct 2021 at 06:21AM</p>
                  </label>
                </div>
              </div>


              
              



              <!-- <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                 
                </h2>
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#notifications">
                      Notifications
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#setnotifications">
                      Set notifications
                    </a>
                  </li>
                </ul>
                <div class="govuk-tabs__panel" id="notifications">
                  
                  <p class="govuk-body-s"><strong> 10.21AM</strong> : <a href="#">CR-02AU21-12_34</a> Crossing made today at 10.20AM</p>
                  <p class="govuk-body-s"><strong> 11.01AM</strong> : Payment for crossing <a href="#">CR-02AU21-12_34</a> made 21 Oct 2010 at 11AM</p>
              

                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="setnotifications">
                  
                  
                  <table class="govuk-table  govuk-!-margin-bottom-7">
                    <div class="app-!-dashboard-card-container govuk-!-margin-bottom-2">
                      <div class="app-!-dashboard-card-heading">
                          <p class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-0">Set notifications</p>
                      </div>
                      <div class="govuk-!-margin-top-0" style="display: flex;align-items: center;">
                           <a href="#" class="govuk-body govuk-!-margin-bottom-0">Add</a><a href="#" class="govuk-body govuk-!-margin-left-3 govuk-!-margin-bottom-0">Edit</a>  <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7" data-module="govuk-button">Disable</button>
                      </div>
                     </div>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-form-group govuk-!-margin-bottom-0">
                          <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>When crossing made</option>
                            <option value="2">PCN</option>
                            <option value="3">When crossing paid</option>
                            <option value="4">On payment deadline missed</option>
                            <option value="5">Payment statements</option>
                          </select> 
                      </div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email1">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text1">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post1" name="post1" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post1">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>

                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-form-group govuk-!-margin-bottom-0">
                          <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1">When crossing made</option>
                            <option value="2" selected>PCN</option>
                            <option value="3">When crossing paid</option>
                            <option value="4">On payment deadline missed</option>
                            <option value="5">Payment statements</option>
                          </select> 
                      </div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email2">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text2">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post2" name="post2" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post2">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>

                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-form-group govuk-!-margin-bottom-0">
                          <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1">When crossing made</option>
                            <option value="2">PCN</option>
                            <option value="3" selected>When crossing paid</option>
                            <option value="4">On payment deadline missed</option>
                            <option value="5">Payment statements</option>
                          </select> 
                      </div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email3">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text3">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post3" name="post3" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post3">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>

                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-form-group govuk-!-margin-bottom-0">
                          <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1">When crossing made</option>
                            <option value="2">PCN</option>
                            <option value="3">When crossing paid</option>
                            <option value="4" selected>On payment deadline missed</option>
                            <option value="5">Payment statements</option>
                          </select> 
                      </div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email4">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text4">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post4" name="post4" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post4">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-form-group govuk-!-margin-bottom-0">
                          <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                          <option value="1">When crossing made</option>
                          <option value="2">PCN</option>
                          <option value="3">When crossing paid</option>
                          <option value="4">On payment deadline missed</option>
                          <option value="5" selected>Payment statements</option>
                          </select> 
                      </div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email5" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email5">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text5" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text5">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post5" name="organisation" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post5">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>

                      </tr>
                    </tbody>
                </table>
               

                  <table class="govuk-table govuk-!-margin-bottom-7">
                    <div class="app-!-dashboard-card-container govuk-!-margin-bottom-2">
                      <div class="app-!-dashboard-card-heading">
                          <p class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-0">Statements</p>
                      </div>
                      <div class="govuk-!-margin-top-0" style="display: flex;align-items: center;">
                        <a href="#" class="govuk-body govuk-!-margin-bottom-0">Add</a><a href="#" class="govuk-body govuk-!-margin-left-3 govuk-!-margin-bottom-0">Edit</a><button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7" data-module="govuk-button">Disable</button>
                      </div>
                    </div>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>Crossing history</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail1">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext1">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost1">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>Payment history</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail2">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext2">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost2">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>PCN history</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail3">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext3">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost3">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>Vehicle list</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail4">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext4">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost4">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                    </tbody>
                  </table>

               

                <table class="govuk-table  govuk-!-margin-bottom-22">
                  <div class="app-!-dashboard-card-container  govuk-!-margin-bottom-2">
                   <div class="app-!-dashboard-card-heading">
                       <p class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-0">Set reminders</p>
                   </div>
                   <div class="govuk-!-margin-top-0" style="display: flex;align-items: center;">                     
                         <a href="#" class="govuk-body govuk-!-margin-bottom-0">Add</a><a href="#" class="govuk-body govuk-!-margin-left-3 govuk-!-margin-bottom-0">Edit</a>  <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7" data-module="govuk-button">Disable</button>
                   </div>
                  </div>
                   <tbody class="govuk-table__body">
                     <tr class="govuk-table__row">
                       <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">When crossing made</div></td>
                       <td class="govuk-table__cell govuk-table__cell--numeric">
                           <div class="govuk-form-group govuk-!-margin-bottom-0">
                               <label class="govuk-label" for="sort">
                                   Repeat every <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                       <option value="1" selected>1</option>
                                       <option value="2" >2</option>
                                       <option value="3">3</option>
                                       <option value="4">4</option>
                                     </select> 
                               </label>
                               
                           </div>
                       </td>
                       <td class="govuk-table__cell">
                           <div class="govuk-form-group govuk-!-margin-bottom-0">
                               <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                               <option value="1" selected>Hour</option>
                               <option value="2" >Week</option>
                               <option value="3">Month</option>
                               </select> 
                           </div>
                       </td>
                     </tr>
                     <tr class="govuk-table__row">
                       <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">PCN received</div></td>
                       <td class="govuk-table__cell govuk-table__cell--numeric">
                           <div class="govuk-form-group govuk-!-margin-bottom-0">
                               <label class="govuk-label" for="sort">
                                   Repeat every <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                       <option value="1" selected>1</option>
                                       <option value="2" >2</option>
                                       <option value="3">3</option>
                                       <option value="4">4</option>
                                     </select> 
                               </label>
                               
                           </div>
                       </td>
                       <td class="govuk-table__cell">
                           <div class="govuk-form-group govuk-!-margin-bottom-0">
                               <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                               <option value="1" selected>Hour</option>
                               <option value="2" >Week</option>
                               <option value="3">Month</option>
                               </select> 
                           </div>
                       </td>
                     </tr>
                     <tr class="govuk-table__row">
                       <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Payment dead line</div></td>
                       <td class="govuk-table__cell govuk-table__cell--numeric">
                           <div class="govuk-form-group govuk-!-margin-bottom-0">
                               <label class="govuk-label" for="sort">
                                   Before <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                       <option value="1" selected>1</option>
                                       <option value="2" >2</option>
                                       <option value="3">3</option>
                                       <option value="4">4</option>
                                     </select> 
                               </label>
                               
                           </div>
                       </td>
                       <td class="govuk-table__cell">
                           <div class="govuk-form-group govuk-!-margin-bottom-0">
                               <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                               <option value="1" selected>Hour</option>
                               <option value="2" >Week</option>
                               <option value="3">Month</option>
                               </select> 
                           </div>
                       </td>
                     </tr>
                   </tbody>
                 </table>
              
                </div>
              </div> 
                



                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                      Save changes
                    </button>
                  
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Set to default
                    </button>
                </div>


                -->

            </div>



            



        </div>
       
        
    </div>
    {% include "./account-notification-link.html" %}



    



</div>


{% endblock %}