{% extends "./dashboard-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters divider">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Account</h1>
                <div class="dashboard-card-container">
                    <div class="dashboard-card-heading">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Notifications and reminders</p>
                    </div>
                </div>
                <div class="bottom-line"></div>
            </div>
            
            <div class="govuk-grid-column-full">
                
                <table class="govuk-table  govuk-!-margin-bottom-7">
                    <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-1">Set notifications</caption>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Crossing made</div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email1">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text1">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post" name="post" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>

                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">PCN</div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email2">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text2">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post" name="post" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>

                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">On crossing paid</div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email3">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text3">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post" name="post" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>

                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">On payment deadline missed</div></td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="email4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="email4">
                                Email
                              </label>
                            </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="text4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="text4">
                                Text
                              </label>
                            </div>
                            </div>
                        </td>

                        
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="post" name="post" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="post">
                              Post
                            </label>
                          </div>
                          </div>
                      </td>
                      </tr>
                    </tbody>
                </table>

                  
                <table class="govuk-table  govuk-!-margin-bottom-7">
                    <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-1">Set reminders</caption>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Crossing made</div></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <label class="govuk-label" for="sort">
                                    Repeat every <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select> 
                                </label>
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                                <option value="1" selected>Hour</option>
                                <option value="2" >Week</option>
                                <option value="3">Month</option>
                                </select> 
                            </div>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Received PCN</div></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <label class="govuk-label" for="sort">
                                    Repeat every <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select> 
                                </label>
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                                <option value="1" selected>Hour</option>
                                <option value="2" >Week</option>
                                <option value="3">Month</option>
                                </select> 
                            </div>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Payment dead line</div></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <label class="govuk-label" for="sort">
                                    Before <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select> 
                                </label>
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                                <option value="1" selected>Hour</option>
                                <option value="2" >Week</option>
                                <option value="3">Month</option>
                                </select> 
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="govuk-table govuk-!-margin-bottom-7">
                    <div class="dashboard-card-container">
                      <div class="dashboard-card-heading">
                          <p class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-1">Statements</p>
                      </div>
                      <div class="govuk-!-margin-top-2">
                        <a href="#" class="govuk-body">Add</a><a href="#" class="govuk-body govuk-!-margin-left-3">Edit</a>
                      </div>
                    </div>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell govuk-table__header">Type</td>
                        <td class="govuk-table__cell govuk-table__header">Occurrence</td>
                        <td colspan="3" class="govuk-table__cell govuk-table__header">Mode</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>Crossing history</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail1">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext1">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost1">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>Payment history</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail2">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext2">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost2" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost2">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>PCN history</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail3">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext3">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost3" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost3">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                              <option value="1" selected>Vehicle list</option>
                              <option value="2"> </option>
                              <option value="3"> </option>
                              </select> 
                          </div></td>
                        <td class="govuk-table__cell">
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                            <option value="1" selected>Monthly</option>
                            <option value="2" >Week</option>
                            <option value="3">Hour</option>
                            </select> 
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="semail4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="semail4">
                                Email
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="stext4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="stext4">
                                Text
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="spost4" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="spost4">
                                Post
                              </label>
                            </div>
                          </div>


                        </td>
                      </tr>
                    </tbody>
                  </table>




                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                      Save changes
                    </button>
                  
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Set to default
                    </button>
                </div>

            </div>



            



        </div>
       
        
    </div>
    {% include "./account-setting-info.html" %}



    



</div>


{% endblock %}