{% extends "./dashboard-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters app-!-divider">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Notifications</h1>
                <div class="app-!-bottom-line govuk-!-margin-bottom-3"></div>
                <div class="app-!-dashboard-card-container">
                    <div class="app-!-dashboard-card-heading">
                        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-0">Set Reminders</p>
                    </div>
                </div>
                
            </div>
            
            <div class="govuk-grid-column-full">
               

                  
                <table class="govuk-table  govuk-!-margin-bottom-7">
                   <div class="app-!-dashboard-card-container">
                    <div class="app-!-dashboard-card-heading">
                        <p class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-0">Set reminders</p>
                    </div>
                    <div class="govuk-!-margin-top-0" style="display: flex;align-items: center;">
                      <a href="#" class="govuk-body govuk-!-margin-bottom-0">Add</a><a href="#" class="govuk-body govuk-!-margin-left-3 govuk-!-margin-bottom-0">Edit</a>
                    </div>
                   </div>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell govuk-table__header">Type</td>
                        <td colspan="2" class="govuk-table__cell govuk-table__header">Mode</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Crossing made</div></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <label class="govuk-label" for="sort">
                                    Repeat every <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select> 
                                </label>
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                                <option value="1" selected>Hour</option>
                                <option value="2" >Week</option>
                                <option value="3">Month</option>
                                </select> 
                            </div>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Received PCN</div></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <label class="govuk-label" for="sort">
                                    Repeat every <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select> 
                                </label>
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                                <option value="1" selected>Hour</option>
                                <option value="2" >Week</option>
                                <option value="3">Month</option>
                                </select> 
                            </div>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"><div class="govuk-!-padding-top-2">Payment dead line</div></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <label class="govuk-label" for="sort">
                                    Before <select class="govuk-select govuk-!-margin-left-2" id="sort" name="sort">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select> 
                                </label>
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <select class="govuk-select govuk-grid-column-full" id="sort" name="sort">
                                <option value="1" selected>Hour</option>
                                <option value="2" >Week</option>
                                <option value="3">Month</option>
                                </select> 
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  




                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                      Save changes
                    </button>
                  
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Set to default
                    </button>
                </div>

            </div>



            



        </div>
       
        
    </div>
    {% include "./account-notification-link.html" %}



    



</div>


{% endblock %}