<div class="govuk-grid-column-one-quarter divider-right">
    <ul class="govuk-list">
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="/dashboard/profile" class="govuk-link govuk-link--no-visited-state">Update profile</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Change account plan</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="/dashboard/notification" class="govuk-link govuk-link--no-visited-state">Notifications</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="/dashboard/account/payment-method" class="govuk-link govuk-link--no-visited-state">Edit payment method</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Edit login credentials</a>
        </li>
        <li class="govuk-body-s govuk-!-margin-bottom-3">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Close your account</a>
        </li>
    </ul>
    <br />
    <br />
  </div>