
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters divider">
      <div class="dashboard-card-container">
        <div class="dashboard-card-heading">
          <h1 class="govuk-heading-l">Account Summary</h1>
          
        </div>
      </div>
      <div class="dashboard-card-container">
        <div class="dashboard-card-heading">
         
            <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your balance</h3>
            <p class="govuk-caption-xl govuk-!-font-size-48 govuk-!-margin-bottom-4 balance">
              £ 200
            </p>
         
        </div>
        <div class="account-status-right">
          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-2">Account status</p>
          <strong class="govuk-tag govuk-tag--green">
            ACTIVE
          </strong>
        </div>
      </div>
      <div class="bottom-line"></div>
      <div class="dashboard-card-container">
        <div class="dashboard-card-heading">
          <h4 class="govuk-heading-m govuk-!-margin-bottom-0">Notifications</h4>
          
        </div>
        <div class="govuk-!-margin-top-1"><a href="#" class="govuk-body-s govuk-!-margin-top-1">View all (2)</a></div>
      </div>
      <div class="govuk-inset-text govuk-!-margin-top-3">
         <p>
            You can <a href="dashboard/vehicles/bulk-upload" class="govuk-link govuk-body govuk-link--no-visited-state">add vehicles</a> or use the bulk upload feature to add multiple vehicles.
         </p>
        <!-- <p>
          Use the bulk upload functionality to manage your group names, along with adding and deleting vehicles. See the <a href="#" class="govuk-link govuk-body govuk-link--no-visited-state">Bulk Upload Guide</a> for details.
        </p> -->
        <p>
          You can <a href="#" class="govuk-link govuk-body govuk-link--no-visited-state">nominate users</a> for your account
        </p>
      </div>
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-7">Your crossings</h3>
      <div class="dashboard-card-container govuk-!-margin-bottom-4">
        <p class="govuk-caption-m">Your crossings details will be available here after you made your crossings</p>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-top-7 divider">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your vehicles</h3>
          <div class="govuk-!-margin-top-3"><a class="govuk-link govuk-body govuk-link--no-visited-state" role="link"  href="dashboard/vehicles/bulk-upload" >Add vehicles</a></div>
        </div>
        
        <div class="govuk-grid-column-one-half govuk-!-padding-left-7 govuk-!-margin-top-7 govuk-!-margin-bottom-7 govuk-!-padding-left-8">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your savings</h3>
          <p class="govuk-caption-m">No crossings payment made yet</p>
        </div>
      </div>
    </div>
    
    {% include "./dashboard-user-account-info.html" %}


  </div>
  


{% endblock %}