{% extends "./dashboard-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9 divider">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Crossing</h1>                
                <p class="govuk-body">Crossings can take up to 48 hours to appear on your account</p>
            </div>
            <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
                <ul class="table-sort-box-block govuk-!-margin-0  govuk-!-padding-0 govuk-grid-row">
                    <li>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                    value="month">
                                <label class="govuk-radios__label govuk-body-s" for="changed-name">
                                   View all
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                    value="month">
                                <label class="govuk-radios__label govuk-body-s" for="30-days">
                                    Last 30 days
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                    value="month">
                                <label class="govuk-radios__label govuk-body-s" for="90-days">
                                    Last 90 days
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                    value="month">
                                <label class="govuk-radios__label govuk-body-s" for="custom">
                                    Custom range
                                </label>
                            </div>
                        </div>
                    </li>
        
                </ul>
            </div>
            <div class="govuk-grid-column-full">
                <p class="table-info-text govuk-body-s govuk-!-margin-bottom-6">Clicking on columns headers will refresh the data sorted by the chosen heading</p>
                <div class="table-scroll">
                  <div class="govuk-table-list-container" >
                    <div class="govuk-table-list-row table-header">
                      {% for head in dashboardData.crossingListHead %}
                      <div  class="govuk-table-list-cell govuk-body-s" >
                        {{ head }}
                      </div>
                      {% endfor %}
                    </div>
                    {% for crossingItem in dashboardData.transactionList %}
                    <div
                        class="govuk-table-list-row table-body">
                        <h5 class="govuk-table-list-cell govuk-body-s">
                            {{ crossingItem.postingDate}}
                        </h5>
                        <h5 class="govuk-table-list-cell govuk-body-s">
                            {{ crossingItem.exitTime }}
                        </h5>
                        <h5 class="govuk-table-list-cell govuk-body-s">{{ crossingItem.direction }}</h5>
                        <h5 class="govuk-table-list-cell govuk-body-s">
                            <a href="/dashboard/vehicles/view" class="govuk-link">{{ crossingItem.number }}</a>
                        </h5>
                        <h5 class="govuk-table-list-cell govuk-body-s"> </h5>
                        <h5 class="govuk-table-list-cell govuk-body-s">
                            {{ crossingItem.transactionDate }}
                        </h5>
                    </div>
                    {% endfor %}
                  </div>
                </div>




            </div>
        </div>
       
        
    </div>
    {% include "./dashboard-user-account-info.html" %}
</div>


{% endblock %}