<div class="govuk-grid-column-one-quarter govuk-!-margin-top-6 govuk-!-margin-bottom-9 divider-right">
    <div class="account-container-right">
      <div class="payment-cell">
        <p
          class="govuk-heading-s govuk-!-margin-bottom-0" >
          Account number
        </p>
        <p class="govuk-body">459244993</p>
      </div>
      <div class="payment-cell">
        <p class="govuk-heading-s govuk-!-margin-bottom-0">Account type</p>
        <p class="govuk-body">Personal Pre-pay account</p>
      </div>
      <!-- <div class="payment-cell">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Top up method</h3>
        <p class="govuk-body account-type">Auto</p>
      </div> -->
    </div>
    <br />
    <br />
  </div>