
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters divider">
      <div class="dashboard-card-container">
        <div class="dashboard-card-heading">
          <h1 class="govuk-heading-l">Account Summary</h1>
        </div>
      </div>
      <div class="dashboard-card-container">
        <div class="dashboard-card-heading">
         
            <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your balance</h3>
            <p class="govuk-caption-xl govuk-!-font-size-48 govuk-!-margin-bottom-4 balance">
              £ 10.00
            </p>
         
        </div>
        <div class="account-status-right">
          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-2">Account status</p>
          <strong class="govuk-tag govuk-tag--green">
            OPEN
          </strong>
        </div>
      </div>
      <div class="bottom-line"></div>
      <div class="dashboard-card-container">
        <div class="dashboard-card-heading">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Notification</h3>
        </div>
        <a href="/dashboard/notification" class="govuk-link govuk-link--no-visited-state">View all (2)</a>
      </div>
      <div class="govuk-inset-text govuk-!-margin-top-3">
        <p>Applied for LRDS for LO62 NRO</a>
         </p>
      </div>
      <div class="bottom-line"></div>
      <strong class="govuk-tag govuk-grid-column-full govuk-tag--grey govuk-!-padding-5 govuk-!-margin-bottom-7">
        <div class="dashboard-card-container">
          <div class="dashboard-card-heading">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">LO62 NRO - LRDS 10</h3>
          </div>
          <div class="govuk-body-s govuk-!-margin-bottom-0">Status: <strong class="govuk-tag govuk-tag--yellow">VERIFICATION PENDING</strong></div>
        </div>
      </strong>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-7">Your crossings</h3>
      <div class="dashboard-card-container govuk-!-margin-bottom-4">
        <p class="govuk-caption-m">Your crossings details will be available here after you made your crossings</p>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-top-7 divider">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your vehicles</h3>
          <div class="govuk-!-margin-top-3"><a class="govuk-link govuk-body govuk-link--no-visited-state" role="link"  href="dashboard/vehicles/bulk-upload" >Add vehicles</a></div>
        </div>
        
        <div class="govuk-grid-column-one-half govuk-!-padding-left-7 govuk-!-margin-top-7 govuk-!-margin-bottom-7 govuk-!-padding-left-8">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your savings</h3>
          <p class="govuk-caption-m">No crossings payment made yet</p>
        </div>
      </div>
    </div>
    
    {% include "./dashboard-user-account-info.html" %}


  </div>
  


{% endblock %}