{% extends "./dashboard-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row detail-inner-page-margin" >
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link">Back</a>
    </div>
    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9 divider">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-heading-l govuk-!-margin-top-5 govuk-!-margin-bottom-1">PMEZE171</p>
                <p class="govuk-body govuk-!-margin-bottom-7">Added on 27 Sep 2021</p>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="dashboard-card-container">
                    <p class="govuk-body govuk-!-font-weight-bold">Vehicle details</p>
                    <button class="govuk-button" data-module="govuk-button">Edit</button>
                </div>
                
                <div class="govuk-table-list-container">
                    <div class="govuk-table-list-row table-body">
                      <p class="govuk-table-list-cell govuk-body-s govuk-!-font-weight-bold">Class</p>
                      <p class="govuk-table-list-cell govuk-body-s">Class B</p>
                    </div>
                    <div class="govuk-table-list-row table-body">
                        <p class="govuk-table-list-cell govuk-body-s govuk-!-font-weight-bold">Make</p>
                        <p class="govuk-table-list-cell govuk-body-s">Audi</p>
                    </div>
                    <div class="govuk-table-list-row table-body">
                        <p class="govuk-table-list-cell govuk-body-s govuk-!-font-weight-bold">Model</p>
                        <p class="govuk-table-list-cell govuk-body-s">RS4</p>
                    </div>
                    <div class="govuk-table-list-row table-body">
                        <p class="govuk-table-list-cell govuk-body-s govuk-!-font-weight-bold">Color</p>
                        <p class="govuk-table-list-cell govuk-body-s">Black</p>
                    </div>
                    <div class="govuk-table-list-row table-body">
                        <p class="govuk-table-list-cell govuk-body-s govuk-!-font-weight-bold">Vehicle plan</p>
                        <p class="govuk-table-list-cell govuk-body-s">Standard</p>
                    </div>
                    <div class="govuk-table-list-row table-body">
                        <p class="govuk-table-list-cell govuk-body-s govuk-!-font-weight-bold">Group name</p>
                        <p class="govuk-table-list-cell govuk-body-s"> -</p>
                    </div>
                </div>

            </div>
            <div class="govuk-grid-column-full">
                <p class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-8">Crossing</p>                
                <p class="govuk-body-s">Crossings can take up to 48 hours to appear on your account</p>
                <div class="table-scroll">
                    <div class="govuk-table-list-container" >
                    <div class="govuk-table-list-row table-header">
                      {% for head in dashboardData.crossingListHead %}
                      <div  class="govuk-table-list-cell govuk-body-s" >
                        {{ head }}
                      </div>
                      {% endfor %}
                    </div>
                    {% for crossingItem in dashboardData.transactionList %}
                    <div
                        class="govuk-table-list-row table-body">
                        <p class="govuk-table-list-cell govuk-body-s">
                            {{ crossingItem.postingDate}}
                        </p>
                        <p class="govuk-table-list-cell govuk-body-s">
                            {{ crossingItem.exitTime }}
                        </p>
                        <p class="govuk-table-list-cell govuk-body-s">{{ crossingItem.direction }}</p>
                        <p class="govuk-table-list-cell govuk-body-s">
                            <a href="/dashboard/vehicles/view" class="govuk-link">{{ crossingItem.number }}</a>
                        </p>
                        <p class="govuk-table-list-cell govuk-body-s"> </p>
                        <p class="govuk-table-list-cell govuk-body-s">
                            {{ crossingItem.transactionDate }}
                        </p>
                    </div>
                    {% endfor %}
                  </div>
                </div>

            </div>

        </div>

    </div>
    {% include "./dashboard-user-account-info.html" %}
</div>


{% endblock %}