{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "../one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        {% if (data['select-account'] === 'business-account') %}
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Create an account - Step 3 of 4</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Add a vehicle</h1>
        {% else %}
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart
            Charge)</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
        {% endif %}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-inset-text govuk-!-margin-top-0">
            <p class="govuk-body govuk-!-margin-bottom-1"> <strong>5 vehicles</strong> have 5 <strong>unpaid
                </strong>Dartford Crossing charges.
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Number of <strong>payable</strong> Dartford Crossing: 5</li>
            </ul>
        </div>
    </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Crossings</h1>
        <table class="govuk-table payment-table" id="future-test">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Vehicles</th>
                    <th scope="col" class="govuk-table__header">Payable crossing</th>
                    <th scope="col" class="govuk-table__header">Future crossing</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-weight-bold govuk-table__cell--numeric">Amount</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        LO62 NRO
                    </th>
                    <td class="govuk-table__cell  govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        02
                    </td>
                    <td class="govuk-table__cell govuk-!-margin-left-6">
                        <div id="future-crossing-selectbox"
                            class="govuk-form-group select-box govuk-!-margin-bottom-0">
                            <label class="govuk-label govuk-!-margin-bottom-0"
                                for="trips-future-crossing">
                                <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                    name="trips-future-crossing">
                                    <option value="0" selected>0</option>
                                    <option value="1" >1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-top-4 govuk-!-padding-left-2">
                        £ 5.00
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        NA62 ROP
                    </th>
                    <td class="govuk-table__cell  govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        02
                    </td>
                    <td class="govuk-table__cell govuk-!-margin-left-6">
                        <div id="future-crossing-selectbox"
                            class="govuk-form-group select-box govuk-!-margin-bottom-0">
                            <label class="govuk-label govuk-!-margin-bottom-0"
                                for="trips-future-crossing">
                                <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                    name="trips-future-crossing">
                                    <option value="0" selected>0</option>
                                    <option value="1" >1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-top-4 govuk-!-padding-left-2">
                        £ 5.00
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        MN62 VRO
                    </th>
                    <td class="govuk-table__cell  govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        02
                    </td>
                    <td class="govuk-table__cell govuk-!-margin-left-6">
                        <div id="future-crossing-selectbox"
                            class="govuk-form-group select-box govuk-!-margin-bottom-0">
                            <label class="govuk-label govuk-!-margin-bottom-0"
                                for="trips-future-crossing">
                                <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                    name="trips-future-crossing">
                                    <option value="0" selected>0</option>
                                    <option value="1" >1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-top-4 govuk-!-padding-left-2">
                        £ 5.00
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        GJ71 KRO
                    </th>
                    <td class="govuk-table__cell  govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        02
                    </td>
                    <td class="govuk-table__cell govuk-!-margin-left-6">
                        <div id="future-crossing-selectbox"
                            class="govuk-form-group select-box govuk-!-margin-bottom-0">
                            <label class="govuk-label govuk-!-margin-bottom-0"
                                for="trips-future-crossing">
                                <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                    name="trips-future-crossing">
                                    <option value="0" selected>0</option>
                                    <option value="1" >1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-top-4 govuk-!-padding-left-2">
                        £ 5.00
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        CK16 NRH
                    </th>
                    <td class="govuk-table__cell  govuk-!-padding-top-4 govuk-!-font-weight-regular">
                        02
                    </td>
                    <td class="govuk-table__cell govuk-!-margin-left-6">
                        <div id="future-crossing-selectbox"
                            class="govuk-form-group select-box govuk-!-margin-bottom-0">
                            <label class="govuk-label govuk-!-margin-bottom-0"
                                for="trips-future-crossing">
                                <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                    name="trips-future-crossing">
                                    <option value="0" selected>0</option>
                                    <option value="1" >1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-top-4 govuk-!-padding-left-2">
                        £ 5.00
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header  govuk-!-font-weight-bold">
                        05  Vehicles
                    </th>
                    <td class="govuk-table__cell  govuk-!-font-weight-bold">
                        10
                    </td>
                    <td class="govuk-table__cell govuk-!-margin-left-6 govuk-!-font-weight-bold">
                        0
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold  govuk-!-padding-left-2">
                        £ 25.00
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-!-font-weight-regular">
              <span class="govuk-warning-text__assistive">Warning</span>
              Future crossings are valid for 12 months from the date you make them.
            </strong>
          </div>



        <!-- <table class="govuk-table payment-table" id="future-test">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Crossings</th>
                    <th scope="col" class="govuk-table__header">Number of trips</th>
                    <th scope="col" class="govuk-table__header">Amount</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Unpaid Crossings
                    </th>
                    <td class="govuk-table__cell">
                        <strong>05</strong>
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-!-padding-left-2">
                        £ 12.5
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td colspan="3">
                        <details
                            class="govuk-details govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-!-margin-bottom-3"
                            data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    5 Vehicles
                                </span>
                            </summary>
                            <table class="govuk-table">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" style="width: 250px;">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                NA62ROP</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                LO62NRO</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                GJ71KRO</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                CK16NRH</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                LO6ANBG</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </details>
                    </td>
                </tr>
                <tr class="govuk-table__row" id="future-old">
                    <th scope="row" class="govuk-table__header"> Future Crossings
                    </th>
                    <td class="govuk-table__cell">
                        00
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-!-padding-top-3 govuk-!-padding-left-2">
                        £ 00
                    </td>
                </tr>
                <tr class="govuk-table__row future-new" style="display: none;">
                    <th scope="row" class="govuk-table__header"> Future Crossings
                    </th>
                    <td class="govuk-table__cell">
                        05
                    </td>
                    <td id="future-amt" class="govuk-table__cell govuk-!-padding-top-3 govuk-!-padding-left-2">
                        £ 12.5
                    </td>
                </tr>
                <tr class="govuk-table__row future-new" style="display: none;">
                    <td colspan="3">
                        <details class="govuk-details govuk-!-margin-bottom-0 govuk-!-margin-top-3"
                            data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    5 Vehicles
                                </span>
                            </summary>
                            <table class="govuk-table">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2" style="width: 250px;">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                NA62ROP</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                LO62NRO</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                GJ71KRO</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                CK16NRH</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-padding-right-2">
                                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
                                                LO6ANBG</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-!-margin-left-6">
                                            <div id="future-crossing-selectbox"
                                                class="govuk-form-group select-box govuk-!-margin-bottom-0">
                                                <label class="govuk-label govuk-!-margin-bottom-1"
                                                    for="trips-future-crossing">
                                                    <select class="govuk-select govuk-!-margin-right-2 " id="sort"
                                                        name="trips-future-crossing">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell" style="text-align: center;">
                                            £ 2.50
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </details>
                    </td>
                </tr>

            </tbody>
        </table> -->
        <!-- <div class="govuk-!-margin-bottom-4"><a href="javascript:void(0)"
                class="govuk-link govuk-body future-crossing ">Add</a></div> -->
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group app-!-pull-left">
            <label class="govuk-label govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24" for="amount">Payment
                amount</label>
            <div class="govuk-input__wrapper govuk-grid-column-two-third">
                <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
                <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-5 govuk-!-padding-left-3"
                    id="amount" name="amount" value="25.00" type="number" aria-describedby="amount" spellcheck="false">
            </div>
        </div>
        <!-- <div class="app-!-pull-right">
            <a href="javascript:void(0)" class="govuk-link govuk-body">Download PDF</a>
        </div> -->
    </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-top-2">
            <button type="button" class="govuk-button bulk-vehicle-continue"
                onClick="location.href='./pay-receipt-single'" data-module="govuk-button" role="button"
                aria-label="bulk-vehicle-continue">Continue</button>
        </div>
    </div>
</div>
</div>

{% endblock %}