{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../setup-acct-head-container.html" %}
<div class=" govuk-!-padding-top-5">
  <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-3"><span class="check-icon"></span> LO62 NRO</p>
  <p class="govuk-body govuk-!-margin-bottom-7">
    {% if data['select-account'] === 'business-account' %}
    Your compnay vehicle has been added
    {% else %}
    Your vehicle has been added
    {% endif %}
  </p>
  <div class="govuk-form-group">
    <button class="govuk-button payments" data-module="govuk-button" role="button" aria-label="Move to payment"
      >Proceed to payment</button>
  </div>
</div>
{% include "../setup-acct-bottom-container.html" %}
{% endblock %}