{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "./setup-acct-head-container.html" %}

<p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-3 govuk-!-margin-top-3"><span class="check-icon"></span> johndoe@gmail.com</p>
<p class="govuk-body govuk-!-margin-bottom-7">Your email address has been verified successfully</p>
<button class="govuk-button confirm-verification"
        data-module="govuk-button" role="button"
        aria-label="Next Step">Continue</button>




{% include "./setup-acct-bottom-container.html" %}
{% endblock %}