{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>  
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
    <h2 class="govuk-heading-xl govuk-!-padding-top-1 govuk-!-margin-bottom-6">
      Dartford Crossing <br/>(Dart Charge)
    </h2>
    

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Charges and fines</h3>
    <p class="govuk-body govuk-!-margin-bottom-3">You must pay the charge if you use the Dartford Crossing between 6am and 10pm. Charges apply every day - including weekends and bank hoildays.</p>
    <p class="govuk-body govuk-!-margin-bottom-7">How much you pay to cross depends on the type of vehicle you're driving and if you already have an account.</p>
    


    <div role="note" aria-label="Information" class="govuk-inset-text govuk-!-margin-top-2">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Dart Charge contact centre</h3>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li>Phone: <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="phone number">0300 300 0120</a></li>
          <li>
            From outside the UK:
            <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="from outside the UK">+44 (0) 300 300 0120</a>
          </li>
          <li>
            Textphone: <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="text-phone">18001 0300 300 0120</a>
          </li>
          <li>Monday to Sunday, 8am to 10pm (excluding public holidays)</li>
        </ul>
      </div>

    
  </div>
  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#">
              Make a one off payment
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Pay for penalty charge notice (PCN)
            </a>
          </li>
          <li>
            <a href="#" class="govuk-link">
              Charges and fines
            </a>
          </li>
          <li>
            <a href="#" class="govuk-link">
              Sign in
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>


{% endblock %}