{% extends "prototype-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>  
<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl govuk-!-padding-top-1 govuk-!-margin-bottom-6">
      Pay the Dartford Crossing charge
      <br/>(Dart Charge)
    </h2>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <p>Dartford Crossing is a free flow crossing which means that you do not pay charges at a booth when crossing but can charges for crossing in various ways.</p> 

    <a href='charges-fines' role="link" class="govuk-body govuk-link">Learn more about Dartford Crossing & Dart Charge.</a>

    <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-1">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-!-margin-bottom-0">pay for the Dartford Crossing charge</li>
      <li class="govuk-!-margin-bottom-0">pay or challenge a penalty charge notice (PCN)</li>
      <li class="govuk-!-margin-bottom-0">create and manage an account</li>
      <li class="govuk-!-margin-bottom-0">check payment for crossings</li>
    </ul>
    <button class="govuk-button redirectLanding govuk-!-margin-top-5" data-module="govuk-button" role="button">
      Start now
      <!-- <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" height="12" viewBox="0 0 33 40"
        aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg> -->
    </button>

    
  </div>
  <!-- <div class="govuk-grid-column-one-third ">
  <div class="govuk-grid-column-one-third ">
    <div class="border-top">
      <h2 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-2">
        Related Content
      </h2>
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"> <a href="/one-off-payment/confirm-vehicle-details" class="govuk-link">Make a one off payment</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="https://dartford-crossing-charge.herokuapp.com/demo/flow1" class="govuk-link">Pay for penalty charge Notice(PCN)</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="/charges-fines" class="govuk-link">Charges and fines</a></li>
</ul>
    </div>
  </div> -->
      
    

 <!--  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m govuk-!-margin-top-5">Paying the charge</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">You must pay the Dartford Crossing charge by midnight the day after you cross.</p>
    <p class="govuk-body govuk-!-margin-bottom-2">You can get a fine if you're late or do not pay.</p>
    <p class="govuk-body govuk-!-margin-bottom-6"><a class="govuk-link govuk-link--no-visited-state" href="charges-fines" aria-label="from outside the UK">Know more about charges and fines</a></p>


    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Other ways to pay</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li> pay with cash at <a class="govuk-link govuk-link--no-visited-state" href="#"
          aria-label="nearest Payzone store">your nearest Payzone store</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="create an account">create an
          account</a> by post</li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#"
          aria-label="pay in advance or top-up your account">pay in advance or top-up your account</a> by post</li>
      <li>pay or create an account by phone</li>
    </ul>


    <div role="note" aria-label="Information" class="govuk-inset-text govuk-!-margin-top-2">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Dart Charge contact centre</h3>
      <ul class="govuk-list govuk-!-margin-bottom-0">
        <li>Phone: <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="phone number">0300 300
            0120</a></li>
        <li>
          From outside the UK:
          <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="from outside the UK">+44 (0) 300 300
            0120</a>
        </li>
        <li>
          Textphone: <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="text-phone">18001 0300 300
            0120</a>
        </li>
        <li>Monday to Sunday, 8am to 10pm (excluding public holidays)</li>
      </ul>
    </div>

  </div> -->
</div>


{% endblock %}