{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../setup-acct-head-container.html" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Personal Pre-pay account</h3>
      </div>

      <!-- <div class="govuk-grid-column-one-third govuk-!-padding-top-1">
        <a class="govuk-link govuk-body govuk-link--no-visited-state" href="../select-account"> Change account type </a>
      </div> -->
    </div>
    
    <h3 class="govuk-heading-s">
      To set up a personal pre-pay account, you’ll need:
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        to start a personal account with £10.
      </li>
      <li>to have a perosnal detail, details of primary vehicles you are registering.</li>
      <li>
        to have your debit or credit card.
      </li>
    </ul>

    <button
      class="govuk-button prereq"
      data-module="govuk-button"
      role="button"
    >
    Continue
    </button>
{% include "../setup-acct-bottom-container.html" %}
{% endblock %}
