{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "../one-off-payment-body-head.html" %}
<a href="#" style="cursor: pointer;" class="govuk-back-link">Back</a> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-caption-xl govuk-!-margin-bottom-1 govuk-!-margin-top-6">
        Create an account step 2 of 4
      </h1>
      <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">
          Select an account type
      </h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <div class="govuk-radios">
            <div class="govuk-radios__item govuk-!-margin-bottom-4">
              <input
                class="govuk-radios__input"
                id="personal-account"
                name="select-account"
                type="radio"
                value="perosnal-account"
                aria-describedby="personal-account-item-hint"
              />
              <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="personal-account">
                Personal account
              </label>
    
            </div>
            <div class="govuk-radios__item govuk-!-margin-bottom-7">
              <input
                class="govuk-radios__input"
                id="business-account"
                name="select-account"
                type="radio"
                value="business-account"
                aria-describedby="business-account-item-hint"
              />
              <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="business-account">
                Business account
              </label>
            </div>
          </div>
        </fieldset>
      
        <button
          class="govuk-button oneoff-account-type"
          data-module="govuk-button"
          role="button"
          disabled
        >
        Continue
        </button>
      </div>
    </div>
  </div>




{% endblock %}