
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Pay the Dartford Crossing charge (Dart Charge)
      <span class="govuk-caption-xl">Development Prototypes</span>
    </h1><script>console.log("v9.14.1");</script>
    <p>
      The development prototypes represent the changes made to the Dart Charge service through iterations both content and flow. Some of the prototypes have been built to work within a specifc way and may not cover all variables.
    </p>


    <h2 class="govuk-heading-m">Alpha Prototypes</h2>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

    <!------------------------------------------------------------------------------------------>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            
          <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
              Dart Charge Guidance
            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">Early information about Dart Charge. </p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/charges-fines">Paying for Dartford Crossing (v1.1)</a> </li>
          </ul>
        </div>
      </div>

<!------------------------------------------------------------------------------------------>
<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      
    <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-expanded="false">
        One off Payments
      <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <p class="govuk-body">UK based driver crosses the Dartford Crossing and makes a payment for the single journey.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/one-off-payment/v1.1/pay-crossing">Make a one off payment(v1.1)</a> - Oct 2021</li>
      <li><a href="/one-off-payment/v1.2/pay-crossing">Make a one off payment (v1.2)</a> - Nov 2021</li>
      <li><a href="/one-off-payment/v1.3/pay-crossing">Make a one off payment (v1.3)</a> - Dec 2021</li>
      <li><a href="/one-off-payment/v1.4a/pay-crossing">Make a one off payment (v1.4a)</a> - Dec 2021</li>
      <li><a href="/one-off-payment/v1.4b/pay-crossing">Make a one off payment (v1.4b)</a> - Dec 2021</li>
    </ul>
  </div>
</div>
<!------------------------------------------------------------------------------------------>

<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      
    <button type="button" id="accordion-default-heading-4" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-expanded="false">
        Resolve a penalty charge notice
      <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
    <p class="govuk-body">Pay for, or challenge a penalty charge notice</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/resolve-pcn/v1.1/flow1">Resolve a penalty charge notice (v1.1)</a> - Sept 2021</li>
      <li><a href="/resolve-pcn/v1.2/flow1">Resolve a penalty charge notice (v1.2)</a> - Nov 2021</li>
      <li><a href="/resolve-pcn/v1.3/flow1">Resolve a penalty charge notice (v1.3)</a> - Dec 2021</li>
      <li><a href="/resolve-pcn/v1.4/flow1">Resolve a penalty charge notice (v1.4)</a> - Dec 2021</li>
    </ul>
  </div>
</div>
<!----------------------------------------------------------------------------------------->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            
          <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button" aria-expanded="false">
              Create an account
            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">User crosses Darford Crossing and wants to create an account to keep a log of trips paid.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/create-account/v1.1">Create an account flow - (v1.1)</a> - Oct 2021</li>
            <!-- <li><a href="/prototype-demo/setup-account/create-account">Create an account flow - business account added (v02)</a> - Nov 2021</li> -->
          </ul>
        </div>
      </div>
    
      <!-- <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            
          <button type="button" id="accordion-default-heading-4" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-expanded="false">
              Manage an account
            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">This is the summary of Manage account flow.</p>
        </div>
      </div> -->

      <!-- <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            
          <button type="button" id="accordion-default-heading-5" aria-controls="accordion-default-content-5" class="govuk-accordion__section-button" aria-expanded="false">
              Title goes here
            <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class="govuk-body">This is the summary of </p>
        </div>
      </div> -->

  </div>

  <!-- <h2 class="govuk-heading-m">Beta Prototypes (tbc)</h2> -->

  <!-- <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          
        <button type="button" id="accordion-default-heading-Beta1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
            TBC
          <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class="govuk-body">Prototype goes here.</p>
      </div>
    </div> -->
    
<!-- </div> -->

    <h2 class="govuk-heading-m">Examples and documentation</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
      <li>
        <a href="https://github.com/dwp/design-system-community-backlog/discussions/77">Examples of tracking prototype versions</a>
    </li></ul>

    <p><em>Notes: We recommend you add links to your prototype to this page, rather than delete it.
      You'll find this page in the kit at '/app/views/index.html'.</em></p>

    <p><em>You can change the service name by editing the file '/app/config.js'.</em></p>

  </div>
</div>

{% endblock %}
